<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACPLogAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  

    <userSettings>
        <ACPLogAnalyzer.Properties.Settings>
            <setting name="Average_FWHM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ignore_Logs_With_Zero_Targets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Report_Summary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Report_Summary_At_Bottom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ignore_Targets_With_Zero_Completed_Exposures"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Log_Name" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Start_Date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_End_Date" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Successful_Plate_Solves" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Average_Pointing_Error_Slew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Successful_AutoFocus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnSuccessful_AutoFocus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnSuccessful_Plate_Solves" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Script_Errors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Script_Aborts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Auto_Focus_Time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Help_Text_Url" serializeAs="String">
                <value>http://www.rarcher.net/acpLogAnalyzerHelp.html</value>
            </setting>
            <setting name="Average_Pointing_Error_Center" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Average_FWHM_Overall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Average_Pointing_Error_Slew_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Pointing_Error_Center_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Auto_Focus_Time_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Successful_AutoFocus_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnSuccessful_AutoFocus_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Successful_Plate_Solves_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnSuccessful_Plate_Solves_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_Total_Logs_Parsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Total_Targets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Total_Image_Count" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Target_Details" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Target_Name" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Completed_Exposure_Details" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Total_Imaging_Time_Per_Target" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Is_First_Run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sort_By_Date_Asc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sort_By_Date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Average_Guider_StartUp_Time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Guider_StartUp_Time_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Guider_Settle_Time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Guider_Settle_Time_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Filter_Change_Time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Filter_Change_Time_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Plate_Solve_Time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Plate_Solve_Time_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Slew_Time_Targets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Average_Slew_Time_Targets_Overall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Runtime_Breakdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Runtime_Breakdown_Overall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Total_Guiding_Failures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Total_Guiding_Failures_Overall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Help_Text_Config_Url" serializeAs="String">
                <value>http://www.rarcher.net/acpLogAnalyzerHelp.html?panel=config</value>
            </setting>
            <setting name="Show_Total_Guiding_Failures_Breakdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Total_Guiding_Failures_Overall_Breakdown"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Version_Check_Url" serializeAs="String">
                <value>http://www.rarcher.net/_files/ACPLogAnalyzer.txt</value>
            </setting>
            <setting name="Always_Check_For_Updates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Most_Recent_Search_Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="Plot_Font_Name" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="Plot_Font_Size" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Plot_Always_Show_Avg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plot_Font_Weight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Plot_Font_Style" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Plot_FG_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Plot_FG_Color_Title" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Plot_Font_Name_Title" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="Plot_Font_Size_Title" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="Plot_Font_Style_Title" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Plot_Font_Weight_Title" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Plot_BG_Graph" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Plot_BG_Key" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Plot_BG_Key_Transparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plot_Main_Thickness" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="Plot_Secondary_Thickness" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Plot_Main_Line_Color" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="Plot_Secondary_Line_Color" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="Plot_Main_Show_Data_Points" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plot_Secondary_Show_Data_Points" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Release_Notes_Url" serializeAs="String">
                <value>http://www.rarcher.net/_files/logAnalyzerRelNotes.html</value>
            </setting>
            <setting name="Average_HFD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Average_HFD_Overall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plot_Tertiary_Line_Color" serializeAs="String">
                <value>SeaGreen</value>
            </setting>
            <setting name="Plot_Tertiary_Show_Data_Points" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plot_Tertiary_Thickness" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Update_Download_Url" serializeAs="String">
                <value>http://www.rarcher.net/_files/ACPLogAnalyzerSetup.msi</value>
            </setting>
            <setting name="Show_AllSky_Success_Count" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_AllSky_Fail_Count" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_AllSky_Time" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_AllSky_Overall_Time" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_AllSky_Success_Count_Overall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_AllSky_Fail_Count_Overall" serializeAs="String">
                <value>True</value>
            </setting>
        </ACPLogAnalyzer.Properties.Settings>
    </userSettings>
</configuration>